Result: {{result$ | async}}<br>
Input: <input type="number" [formControl]="numInput">
<div>
  <button type="button" (click)="doAdd()">+</button>
  <button type="button" (click)="doSubtract()">-</button>
</div>
