<ng-content></ng-content>
<div>
  <button type="button" (click)="gotoFirst()">|&lt;</button>
  <button type="button" (click)="gotoPrevious()">&lt;</button>
  <span>Page {{currentPage}} of {{numOfPages}}</span>
  <button type="button" (click)="gotoNext()">&gt;</button>
  <button type="button" (click)="gotoLast()">&gt;|</button>
</div>
