<!-- <input type="text" [(ngModel)]="message">{{message}}
<app-tool-header [headerText]="title"></app-tool-header>
<app-unordered-list [items]="colors"></app-unordered-list>
<app-color-form (submitColor)="appendColor($event)"></app-color-form> -->
<!-- 
<ul>
  <li *ngFor="let sport of sports; trackBy: trackSportName">{{sport.name}}</li>
</ul>

<button (click)="replaceSports()">Replace Sports</button> -->

<app-car-home></app-car-home>

<!-- <app-content-demo>
  <header>
    <h1>Some Header</h1>
  </header>
  <section>
    <b>{{title}}</b>
  </section>
  <footer>
    <small>Some Footer</small>
  </footer>
</app-content-demo> -->