<tool-header headerText="Car Tool"></tool-header>
<car-table [cars]="cars$ | async" [editCarId]="editCarId$ | async"
(editCar)="doEditCar($event)" (deleteCar)="doDeleteCar($event)"
(saveCar)="doReplaceCar($event)" (cancelCar)="doCancelCar()"></car-table>
<car-form (submitCar)="doAddCar($event)" buttonText="Add Car"></car-form>