<!-- Template Forms -->
<div>
  <label>New Color:</label>
  <input type="text"
    [(ngModel)]="newColor" myRequired
    #newColorInput2="ngModel">
  <br>{{newColor}}
  <br>{{newColorInput2.valid}}
</div>

<!-- Reactive Forms -->
<div>
  <label>New HexCode:</label>
  <input type="text" [formControl]="newHexCodeInput">
  <br>{{newHexCodeInput.value}}
  <br>{{newHexCodeInput.valid}}
</div>

<button type="button"
  (click)="saveColor()">
    Save Color
</button>
