<!--  *ngFor="let item of items" -->

<ul>
  <!-- <ng-template ngFor [ngForOf]="items" let-item>
      <li>{{item}}</li>
      <li>{{item | uppercase}}</li>
  </ng-template> -->
  <!-- <ng-container *ngFor="let item of items">
      <li>{{item}}</li>
      <li>{{item | uppercase}}</li>
  </ng-container> -->
  <li *ngFor="let item of items"><app-demo-item [item]="item"></app-demo-item></li>
</ul>